:root {
    --bgMain: #333333;
    --bgSecondary: #black;
    --bgNav: #1e1e2e;
    --White: #fff;
}
body {
    background-color: var(--bgMain);
    margin: 10px;
    color: var(--White);
}
nav {
    background-color: var(--bgNav);
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul {
    list-style: none;
    display: inline;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none; /* Remove underline */
    color: var(--White);
}
#status {
    position: absolute;
    right: 10px;
    color: #fff;
}
#user {
    position: absolute;
    left: 10px;
    color: #fff;
    margin-left: 10px;
}
footer {
    background-color: var(--bgNav);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--White);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.login,
.logout {
    width: 300px;
    margin: 50px auto;
    background-color: var(--bgNav);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login input,
.logout button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 110%;
    background-color: #ccc;
}
.login button { /* Buttons "anmelden" & "registrieren" */
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 110%;
    padding: 3px 25px 5px 25px;
    margin-top: 15px;
    margin-inline: 5px;
}
.login .button-container { /* Align both buttons to center */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout button {
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}
.login button:hover,
.logout button:hover {
    background-color: #45a049;
}
@media screen and (max-width: 600px) {
    .login,
    .logout {
        width: 80%;
    }
}
